:root {
	background-image: url(../images/stars.png);
	background-repeat: no-repeat; 
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-size: 100%;
	width: 100vw;
	height: 100vh;
}

*{
	box-sizing: border-box;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin: 0;
	padding: 0;
}
.main-container {
	width: 100vw;
	height: 100vh;
}
.emp-content-box{
	width: 755px;
	height: 1100px;
	display: flex;
	margin: 20px auto;
	padding: 12px 0;
	background: linear-gradient(#454f59 50%, #6b6954 50%);
	border-radius: 20px;
	overflow-x: hidden;
	position: relative;
}
.emp-content-panel {
	max-width: 150px;
	height: 200px;
	margin: auto;
	padding: 10px;
	background-color: #8c8b85;
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
	font-size: 1rem;
	font-weight: bold;
	color: #000;
}
.emp-content-inside {
	flex: 1;
	width: 80%;
	margin-left: 20px;
	background-color: rgb(21, 22, 26);
	border-radius: 20px;
	padding: 1.5rem 1rem;
}
.title {
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: row;
}
#employment-back {
	width: 100px;
	height: 50px;
	border-radius: 22px;
	background-color: #758594;
	font-size: 1.2rem;
	font-weight: 600;
	text-align: center;
}

#employment-title {
	width: 900px;
	text-transform: uppercase;
	line-height: 1.2;
}
#employment-title h3 {
	font-size: 2.6rem;
	font-weight: bold;
	color: moccasin;
	text-align: center;
}
.employment-content-box {
	width: 100%;
	display: flex;
	flex-direction: row;
}
#employment-content {
	width:650px;
	height: 950px;
}
#button-boxes {
	width: 226px;
}
.e-b-b {
  width: 225px;
  height: 60px;
  margin-top: 20px;
  background-image: url(../images/smallbutton.png);
  border-radius: 30px;
  border: 2px solid black;
  
}
.e-b-b h4 {
	color: whitesmoke;
	font-size: 1.4rem;
	text-align: center;
	margin-left: -40px;
}
.e-b-b h4:hover {
	color: rgb(4, 251, 4);
}

.e-b-b:hover {
	box-shadow: 0 0.4rem 1.4rem 0 rgb(3, 32, 255);
	cursor: pointer;
	transform: translate(-0.2rem);
	transition: transform 150ms;
}

#one {
	display: flex;
	padding-left: 20px;
	font-size: 1.1rem;
	letter-spacing: 0.15rem;
	line-height: 1.6rem;
	color: whitesmoke;
	font-weight: 500;
	text-align: left;
}
h5 {
	margin-top: 10px;
	font-size: 0.88rem;
	letter-spacing: 0.1rem;
	color: whitesmoke;
	font-weight: 500;
	text-align: center;
}



@media (max-width: 1170px){
.emp-content-box {
	width: 95vw;
	margin-right: 20px;
}
.emp-content-inside {
	width: 70%;
}
#employment-title {
	width: 900px;
	text-transform: uppercase;
	line-height: 1.2;
}
#employment-title h3 {
	font-size: 1.9rem;
}
.employment-content-box {
	flex-direction: column;
}
#employment-content {
	text-align: left;
	width: 90%;
	height: auto;
}
#one {
	margin-top: 30px;
	font-size: 1.3rem;
	line-height: 1.7rem;
	letter-spacing: 0.1rem;
}
#button-boxes {
	width: 100%;
	display:flex;
	flex-direction: row;	
}
  .e-b-b {
	text-align: center;
	width: 110px;
	height: 60px;
	background-image: url(../images/tinybutton.png);
	font-size: 1rem; 
	color: whitesmoke;
	overflow: hidden;
}
.e-b-b h4 {
	font-size: 0;
}
h5 {
	font-size: 0;
}
} 

 