html body{
  max-width: 2400px;
  background-color: #bcda9a;
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  align-content: center;
  overflow-x: hidden;
}
* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mainContainer {
  border: 30px solid transparent;
  border-image: url(../images/History/texture.jpeg) 20% round;
  background-color: whitesmoke;
  border-radius: 30px;
  margin-top: 75px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 45%;
  -moz-box-shadow: 0 0 15px black;
  -webkit-box-shadow: 0 0 15px black;
  box-shadow: 0 0 15px black;
  z-index: 3;
}
.mainContainer .heading{
  font-size: 1.5rem;
  text-align: center;
  background-color: #F6E594;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
  
  z-index: 5;
}
.mainContainer .navigation {
  background-color: #A0301D;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 5;
}
.mainContainer #nav {
  display: flex;
  font-size: 1.2rem;
  justify-content: space-around;
  align-content: center;
}
.mainContainer #nav h4{
  color: whitesmoke;
  padding-left: 15px;
}
.mainContainer .interior {
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 15px;
  z-index: 5;
}
.interior p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3rem;
  letter-spacing: 0.1rem;
}
.interior em {
  font-size: 1.2rem;
  font-weight: 800;
}
.interior .logo {
  float: right;
}
.interior #membersTop {
  display: inline;
}
@media(max-width: 1860px) {
  .mainContainer {
    width: 60%;
  }
}
@media(max-width: 1350px) {
  .mainContainer {
    width: 70%;
  }
}
@media(max-width: 1200px) {
  .mainContainer {
    width: 90%;
  }
  .mainContainer .heading {
    font-size: 1.7rem;
  }
  .mainContainer #nav {
    font-size: 1.5rem;
  }
  .interior p {
    font-size: 1.5rem;
  }
}