html body{
  max-width: 2400px;
  background-color: #bcda9a;
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  align-content: center;
  overflow-x: hidden;
}
* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mainContainer {
  border: 30px solid transparent;
  border-image: url(../images/History/texture.jpeg) 20% round;
  background-color: #FFFFFF;
  border-radius: 30px;
  margin-top: 75px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 45%;
  -moz-box-shadow: 0 0 15px black;
  -webkit-box-shadow: 0 0 15px black;
  box-shadow: 0 0 15px black;
  z-index: 3;
}
.mainContainer .heading{
  font-size: 1.5rem;
  text-align: center;
  background-color: #F6E594;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
  z-index: 5;
}
.mainContainer .navigation {
  background-color: #A63223;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 5;
}
.mainContainer #nav {
  display: flex;
  font-size: 1.2rem;
  justify-content: space-around;
  align-content: center;
  z-index: 10;
}
.mainContainer #nav h4:hover {
  color: #bcda9a;
}
.mainContainer #nav h4{
  color: whitesmoke;
  padding-left: 15px;
}
.interior #wave {
  margin-left: -5.6%;
  margin-top: -15px;
  margin-right: -10%;
  width: 111.2%;
  height: auto;
}
.mainContainer .interior {
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 15px;
  z-index: 5;
}
.interior p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3rem;
  letter-spacing: 0.1rem;
}
.interior em {
  font-size: 1.2rem;
  font-weight: 800;
}
.interior .logo {
  float: right;
}
.interior .map img {
  width: 40%;
  float: right;
}
.interior .TT img {
  width: 40%;
  float: right;
}
.interior #membersTop {
  display: inline;
}
.interior #purposes {
  display: block;
  width: 50%;
}
.interior.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides1{
  display: none;
  z-index: 10;
}
/* Caption text */
.text {
  color: black;
  font-size: 20px;
  bottom: 8px;
  width: 100%;
}
/* Fading animation */
.fade {
  /*animation-name: fade;*/
  /*animation-duration: 2.5s;*/
  animation: fade 6s linear forwards;
  opacity: 0;
}

@keyframes fade {
  0% {opacity: 0; }
  25% {opacity: 1; }
  50% {opacity: 1; }
  75% {opacity: 1; }
  100% {opacity: 0 ;}

  /*from {opacity: .5} 
  to {opacity: 1}*/
}

@media(max-width: 1860px) {
  .mainContainer {
    width: 60%;
  }
}
@media(max-width: 1350px) {
  .mainContainer {
    width: 70%;
  }
}
@media(max-width: 1200px) {
  .mainContainer {
    width: 90%;
  }
  .mainContainer .heading {
    font-size: 1.7rem;
  }
  .mainContainer #nav {
    font-size: 1.5rem;
  }
  .interior p {
    font-size: 1.5rem;
  }
}