html body{
  max-width: 2400px;
  background-image: url(../images/Aus.jpeg);
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  align-content: center;
}


/* GRID SETUP*/
.gridbody {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 12;
}
.gridbody .heading {
  grid-column-start: 1;
  grid-column-end: 12;
}
.gridbody .navigation {
  grid-column-start: 1;
  grid-column-end: 12;
}
.gridbody .footer {
  background-color:rgba(13, 16, 44, 0.7);   
  grid-column-start: 1;
  grid-column-end: 12;
}

/* HEADING BAR */
.heading {
  display: flex;
  width: 100%;
  height: 9.5rem;   
}
.heading #headingname {
  width: 70%;
  margin-left: 3%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 4.5rem;
  color: whitesmoke;
}
.heading #headingimg{
  margin-right: 5%;
  width: 100px;
  height: auto;
}
.navigation .home{
  float: right;
  align-items: center;
  width: 50%;
  display: inline;  
}
.home button {
  background-color:rgba(248, 248, 244, 0.774);
  width: 300px;
  height: 50px;
  margin-right: 10%;
  margin-left: -20%;
  font-size: 1.3rem;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;           
}
.name {
  color:#f0edce ;
}

@media(max-width: 1620px) {
  .heading #headingname {
    margin-top: -15px;
    font-size: 3.5rem;
  }
}
 
@media(max-width: 950px) {
  .home button {
    background-color:rgba(248, 248, 244, 0.774);
    font-size: 2rem;
    width: 300px;
    height: 100px;
  }
  .navigation .home{
    align-items: center;
  }
}
@media(max-width: 650px) {
  .heading #headingname {
    font-size: 3.5rem;
  }
  .navigation .home{
    align-items: center;
  }
  .home button {
    margin-left: -110px;
    background-color:rgba(248, 248, 244, 0.774);
    font-size: 2.3rem;
    width: 300px;
    height: 100px;
  }
  
  }
  @media screen and (max-width: 480px) {
    .heading #headingname {
      font-size: 3.5rem;
    }
    .navigation .home{
      align-items: center;
     }
    .home button {
      margin-left: -110px;
      background-color:rgba(248, 248, 244, 0.774);
      font-size: 2.3rem;
      width: 300px;
      height: 100px;
     }
    }
   
  
