
html {
  max-width: 2450px;
  scroll-behavior: smooth;
  background-color: #000;
}

body {
  max-width: 2450px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  line-height: 1.2;
  text-align: center;
}

/*LANDING BOX*/

.landing-box-back {
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/Aus.jpeg);
  width: 100%;
  height: 1220px;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.landing-box-front {
  margin-left: auto;
  margin-right: auto;
  background-color:rgba(245, 249, 247, 0.762);
  width: 100%;
  height: 1220px;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.banner {
  width: 100%;
  height: 100px;
  display: flex;
  z-index: 3;
}
.landing-heading {
  width: 100%;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  color: black;
}
.landing-heading h3 {
  font-size: clamp(1.5rem, 1.5rem + 3.6vw, 3.3rem);
  font-weight: bold;
}
.clock-box {
  margin-left: -20px;
  width:200px;
  display: block;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.clock, .date{
  font-size: 1rem;
}

.landing-content-box{
  width: 95%;
  display: flex;
  bottom: 0;
  margin: 50px auto 50px auto;
  padding: 12px 0;
  background: linear-gradient(#454f59 50%, #6b6954 50%);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.landing-content-panel {
  max-width: 200px;
  height: 100px;
  margin: auto;
  padding: 10px 0 0 1%;
  background-color: #8c8b85;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  font-size: .99rem;
  font-weight: bold;
  color: #000;
}

.landing-content-inside {
  flex: 1;
  margin-left: 2%;
  height: 900px;
  background-color: rgb(255, 254, 254);
  border-radius: 20px 20px 20px 20px;
  padding: 1.5rem 1rem;
  z-index: 2;
}

.landing-content-text {
  width:70%;
  float: left;
  display: flex;
  flex-direction: column;
  min-height: 146px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  font-size: 1.2rem;
  color: #0a0a09;
}
.landing-content-img img {
  width: 25%;
}
.landing-content-text h1 {
  font-size: clamp(1rem, 1.2rem + 3.6vw, 3.3rem);
  font-weight: bold;
}
.landing-content-text p {
  font-size: clamp(0.8rem, .7rem + 3.6vw, 1.1rem);
  color:#0a0a09; 
  font-weight: 700;
}

.landing-content-text > * {
  margin: 0;
}
.landing-button-box{
  width: 310px;
  display: flex;
  bottom: 0;
  margin: 10px auto 20px auto;
  padding: 4px 0;
  background: linear-gradient(#454f59 50%, #b3ae80 50%);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.landing-button-panel {
  width: 55px;
  height: 30px;
  margin: auto;
  padding: 10px 0 0 2%;
  background-color: #8c8b85;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  font-size: .99rem;
  font-weight: bold;
  color: #000;
}

.landing-button-inside {
  flex: 1;
  margin-left: 2%;
  margin-right: auto;
  height: 20px;
  background-color: rgb(9, 9, 9);
  border-radius: 20px 20px 20px 20px;
  padding: 1.5rem 1rem;
  z-index: 2;
}

.landing-button-text {
  width:100%;
  min-height: 30px;
  
}
.landing-button-text a{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  color: #f8f8f3;
}

@media (max-width: 1200px) {
  .landing-box-back, .landing-box-front {
    height: 1800px;
  }
  .landing-content-inside{
    height: 1400px;
  }
  .landing-content-text p {
    font-size: clamp(1.8rem, .9rem + 3.6vw, 2.1rem);
  }
  .clock, .date{
    font-size: 1.5rem;
  }
  .landing-content-text h1 {
    font-size: clamp(1.3rem, 1.5rem + 3.6vw, 4.3rem);
  }
  .landing-button-text a {
    font-size: 1.6rem;
  }
 }

/* ////////////////////////////////////////////////////////////////////*/


/* EMPLOYMENT-BOX*/
.employment-box-back {
  margin-top: -15px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/Sky.jpeg);
  width: 100%;
  height: 1220px;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.employment-box-front {
  margin-top: -15px;
  margin-left: auto;
  margin-right: auto;
  background-color:rgba(2, 2, 2, 0.695);
  width: 100%;
  height: 1220px;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.banner {
  display: block;
}
.employment-back {
  margin-top: 10px;
}
.employment-heading {
  width: 100%;
  margin-top: -45px;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  color: rgb(233, 223, 223);
}
.employment-heading h3 {
  font-size: clamp(1.5rem, 1.5rem + 3.6vw, 3.3rem);
  font-weight: bold;
}
.employment-content-box {
  display: block;
  justify-content: space-between;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}
.employment-content-left {
  display:inline-block;
  gap: 20px;
  width:100%;
  margin-left: 20px;
}
.employment-content-right {
  width:65%;
  margin-left: auto;
  margin-right: auto;
  border:solid;
  border-width: 10px;
  border-color: rgb(147, 143, 143);
  border-radius: 25px;
  height: 550px;
  overflow: hidden;
}
.employment-button-box{
  width: 400px;
  display: flex;
  bottom: 0;
  margin: 10px auto 10px auto;
  padding: 4px 0;
  background: linear-gradient(#454f59 50%, #b3ae80 50%);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.employment-button-panel {
  max-width: 45px;
  height: 30px;
  margin: auto;
  padding: 10px 0 0 1%;
  background-color: #8c8b85;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  font-size: .99rem;
  font-weight: bold;
  color: #000;
}

.employment-button-inside {
  flex: 1;
  margin-left: 2%;
  height: 20px;
  background-color: rgb(9, 9, 9);
  border-radius: 20px 20px 20px 20px;
  padding: 1.5rem 1rem;
  z-index: 2;
}

.employment-button-text {
  width:100%;
  min-height: 30px;
  margin-bottom: 10px;  
}
.employment-button-text a{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 1rem;
  color: #f8f8f3;
}
.E1, .E2, .E3, .E4, .E5, .E6 {
  width:90%;
  max-height: 350px;
  display: none;
  z-index: 1;
  text-align: left;
}
.E1, .E2, .E3, .E4, .E5, .E6 h2 {
  color: #f8f8f3;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 40px;
}

.responsibilities li {
  margin-left: -20px;
  color: #f8f8f3;
  font-size: 1rem;
  letter-spacing: 0.1;
}

/*/////////////////////////////////////////////////////////////////////////////*/

/* Certification Box*/
.cert-box-back {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #000;
  width: 100%;
  height: 1170px;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.cert-content-box{
  width: 95%;
  display: flex;
  margin: 30px auto 30px auto;
  padding: 12px 0;
  background: linear-gradient(#454f59 50%, #6b6954 50%);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.cert-content-panel {
  max-width: 200px;
  height: 100px;
  margin: auto;
  padding: 10px 0 0 1%;
  background-color: #8c8b85;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  font-size: .99rem;
  font-weight: bold;
  color: #000;
}
.cert-content-panel p{
  margin-right: 10px;
  text-align: center;
}

.cert-content-inside {
  flex: 1;
  margin-left: 2%;
  height: 1050px;
  background-color: #000;
  border-radius: 20px 20px 20px 20px;
  padding: 1.5rem 1rem;
  z-index: 2;
}

.cert-content-text {
  width:70%;
  float: left;
  display: flex;
  flex-direction: column;
  min-height: 146px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  font-size: 1.2rem;
  color: #0a0a09;
}
.cert-banner-box{
  width: 100%;
  display: flex;
  margin: -20px 2px 0 -4px;
  padding: 12px 0;
  background: linear-gradient(#53718f 50%, #5e959a 50%);
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.cert-banner-inside {
  display:flex;
  flex: 1;
  margin-left: 5%;
  margin-right: 2%;
  margin-bottom: -10px;
  height: 70px;
  background-color: #000;
  border-radius: 20px 20px 20px 20px;
  padding: 2rem 1rem 0 1rem;
  z-index: 12;
  margin-top: 2px;
}
.cert-back {
  width: 100px;
  height: 50px;
  border-radius: 22px;
  margin-top: -7px;
  background-color: #758594;
}
.cert-back a{
  color: black;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
}
.cert-heading h3 {
  margin-top: -10px;
  margin-left: 30px;
  text-align: center;
  font-size: clamp(1.5rem, 1.5rem + 3.6vw, 3.3rem);
  font-weight: bold;
  color: moccasin;
}
.cert-bar-top {
  width: auto;
  margin-left: 12px;
  display: flex;
  height: 22px;
  z-index: 1;
}
.bar-top-1, .bar-top-2, .bar-top-3, .bar-top-4, .bar-top-5{
  height: 22px;
  border-right: 5px solid #000;
}
.bar-top-1{
  transition: width 1s;
}
.bar-top-1 {
  margin-left: -15px;
  width: 20%;
  background-color: #5e959a;
  border-radius: 0 0 0 22px;
}
.bar-top-2 {
  width: 92px;
  background-color: #99CDFF;
}
.bar-top-3 {
  width: 30%;
  background-color: #FFFFCB;
}
.bar-top-4 {
  width: 35%;
  background-color: #9D9DFF;
}

.bar-top-5 {
  width: 30%;
  background-color: #99CDFF;
  border-radius: 0 0 22px 0;
  margin-right: auto;
}

.cert-content-box-in{
  width: 100%;
  display: flex;
  margin: 5px auto 0 auto;
  padding: 12px 0;
  background: linear-gradient(#FFFFCB 50%, #99CDFF 50%);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.cert-content-text-in {
  display: flex;
  justify-content: space-around;
  flex: 1;
  margin-left: 2%;
  margin-bottom: 10px;
  height: 130px;
  background-color: #000;
  border-radius: 20px 20px 20px 20px;
  padding: 1.5rem 1rem;
  z-index: 2;
}

.buttons{
  display: inline;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;

}
.CC, .QC, .BM{
  width: 210px;
  height: 50px;
  border-radius: 20px;
  font-size: 1.4rem;
  margin: 1px 70px;
  color: black;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
.CC{
  background-color:#FFFF33 ;
  
}
.QC {
  background-color: #D05F5F;
}
.BM {
  background-color:#FF99CD ;
}
.cert-content-panel1 {
  max-width: 200px;
  height: 100px;
  margin: auto;
  padding: 10px 0 0 1%;
  background-color: #9D9DFF;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  font-size: .99rem;
  font-weight: bold;
  color: #000;
}
.cert-content-panel1 p{
  margin-right: 10px;
  text-align: center;
}
.cert-content-box-bottom{
  width: 100%;
  display: flex;
  margin: 5px auto 0 auto;
  padding: 12px 0;
  background: linear-gradient(#FFCF7B 50%, #9D9DFF 50%);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.cert-content-text-bottom {
  flex: 1;
  margin-left: 2%;
  margin-bottom: 10px;
  height: 640px;
  background-color: #000;
  border-radius: 20px 20px 20px 20px;
  padding: 1.5rem 1rem;
  z-index: 2;
}
.cert-content-box-bottom h1 {
  margin-top: -20px;
  text-align: center;
  font-size: clamp(1.5rem, 1.5rem + 3.6vw, 3.3rem);
  font-weight: bold;
  color: moccasin;
}
.cert-content-panel2 {
  max-width: 200px;
  height: 100px;
  margin: auto;
  padding: 10px 0 0 1%;
  background-color: #758594;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  font-size: .99rem;
  font-weight: bold;
  color: #000;
}
.cert-content-panel2 p{
  margin-right: 10px;
  text-align: center;
}
.cert-slides{
  max-width: 1000px;
  position: relative;
  margin-top: -40px;
  margin-left: auto;
  margin-right: auto;
}
.cert-slides h2 {
  color: #FFFFCB;
}


.fade {
  /*animation-name: fade;*/
  /*animation-duration: 2.5s;*/
  animation: fade 10s linear forwards;
  opacity: 0;
}

@keyframes fade {
  0% {opacity: 1; }
  25% {opacity: 1; }
  50% {opacity: 1; }
  75% {opacity: 1; }
  100% {opacity: 1 ;}

  /*from {opacity: .5} 
  to {opacity: 1}*/
}
/* Hide the images by default */
.mySlides, .mySlides1, .mySlides2, .mySlides3 {
  display: none;
  z-index: 1;
}

/*/////////////////////////////////////////////////////////////////////////////*/

/* Portfolio Box*/
.port-box-back {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #000;
  width: 100%;
  height: 1170px;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.port-content-box{
  width: 95%;
  display: flex;
  margin: 30px auto 30px auto;
  padding: 12px 0;
  background: linear-gradient(#454f59 50%, #6b6954 50%);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.port-content-panel {
  max-width: 200px;
  height: 100px;
  margin: auto;
  padding: 10px 0 0 1%;
  background-color: #8c8b85;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  font-size: .99rem;
  font-weight: bold;
  color: #000;
}
.port-content-panel p{
  margin-right: 10px;
  text-align: center;
}

.port-content-inside {
  flex: 1;
  margin-left: 2%;
  height: 1050px;
  background-color: #000;
  border-radius: 20px 20px 20px 20px;
  padding: 1.5rem 1rem;
  z-index: 2;
}

.port-content-text {
  width:70%;
  float: left;
  display: flex;
  flex-direction: column;
  min-height: 146px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  font-size: 1.2rem;
  color: #0a0a09;
}
.port-banner-box{
  width: 100%;
  display: flex;
  margin: -20px 2px 0 -4px;
  padding: 12px 0;
  background: linear-gradient(#53718f 50%, #5e959a 50%);
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.port-banner-inside {
  display: flex;
  flex: 1;
  margin-left: 5%;
  margin-right: 2%;
  margin-bottom: -10px;
  height: 70px;
  background-color: #000;
  border-radius: 20px 20px 20px 20px;
  padding: 2rem 1rem 0 1rem;
  z-index: 12;
  margin-top: 2px;
}

.port-back {
  width: 100px;
  height: 50px;
  border-radius: 22px;
  margin-top: -7px;
  background-color: #758594;
}
.port-back a{
  color: black;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
}
.port-heading h3 {
  margin-top: -10px;
  margin-left: 30px;
  text-align: center;
  font-size: clamp(1.5rem, 1.5rem + 3.6vw, 3.3rem);
  font-weight: bold;
  color: moccasin;
}

.port-bar-top {
  width: auto;
  margin-left: 12px;
  display: flex;
  height: 22px;
  z-index: 1;
}
.bar-top-1, .bar-top-2, .bar-top-3, .bar-top-4, .bar-top-5{
  height: 22px;
  border-right: 5px solid #000;
}
.bar-top-1{
  transition: width 1s;
}
.bar-top-1 {
  margin-left: -15px;
  width: 20%;
  background-color: #5e959a;
  border-radius: 0 0 0 22px;
}
.bar-top-2 {
  width: 92px;
  background-color: #99CDFF;
}
.bar-top-3 {
  width: 30%;
  background-color: #FFFFCB;
}
.bar-top-4 {
  width: 35%;
  background-color: #9D9DFF;
}

.bar-top-5 {
  width: 30%;
  background-color: #99CDFF;
  border-radius: 0 0 22px 0;
  margin-right: auto;
}

.port-banner-inside h1 {
  margin-top: -20px;
  text-align: center;
  font-size: clamp(1.5rem, 1.5rem + 3.6vw, 3.3rem);
  font-weight: bold;
  color: moccasin;
}
.port-content-box-in{
  width: 100%;
  display: flex;
  margin: 5px auto 0 auto;
  padding: 12px 0;
  background: linear-gradient(#FFFFCB 50%, #99CDFF 50%);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.port-content-text-in {
  text-align: left;
  width: 100%;
  flex: 1;
  margin-left: 2%;
  margin-bottom: 10px;
  height: 130px;
  background-color: #000;
  border-radius: 20px 20px 20px 20px;
  padding: 1.5rem 1rem;
  z-index: 2;
  color: #FFFFCB;
}
.port-content-text-in p {
  margin-top: -5px;
}
.port-content-text-in em {
  color: rgb(110, 130, 227);
}
.port-content-text-in a {
  color: #5bae5b;
}

.port-content-panel1 {
  max-width: 200px;
  height: 100px;
  margin: auto;
  padding: 10px 0 0 1%;
  background-color: #9D9DFF;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  font-size: .99rem;
  font-weight: bold;
  color: #000;
}
.port-content-panel1 p{
  margin-right: 10px;
  text-align: center;
}
.port-content-box-bottom{
  width: 100%;
  display: flex;
  margin: 5px auto 0 auto;
  padding: 12px 0;
  background: linear-gradient(#FFCF7B 50%, #9D9DFF 50%);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.port-content-text-bottom {
  flex: 1;
  margin-left: 2%;
  margin-bottom: 10px;
  height: 640px;
  background-color: #000;
  border-radius: 20px 20px 20px 20px;
  padding: 1.5rem 1rem;
  z-index: 2;
}
.port-content-box-bottom h1 {
  margin-top: -20px;
  text-align: center;
  font-size: clamp(1.5rem, 1.5rem + 3.6vw, 3.3rem);
  font-weight: bold;
  color: moccasin;
}
.port-content-panel2 {
  max-width: 200px;
  height: 100px;
  margin: auto;
  padding: 10px 0 0 1%;
  background-color: #758594;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  font-size: .99rem;
  font-weight: bold;
  color: #000;
}
.port-content-panel2 p{
  margin-right: 10px;
  text-align: center;
}
.port-slides{
  max-width: 1000px;
  position: relative;
  margin-top: -40px;
  margin-left: auto;
  margin-right: auto;
}
.port-slides h2 {
  color: #FFFFCB;
}
.text {
  margin-top: 20px;
  color: #FFFFCB;
  font-size: 1.2rem;
  font-weight: 600;
}
.port-slides img{
  margin-top:10px;
}


/*/////////////////////////////////////////////////////////////////////////////*/

/*Contact Box*/
.contact-box {

  margin-left: auto;
  margin-right: auto;
  background-color: #000;
  width: 100%;
  height: 1500px;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.contact-box-in {
  width: 80%;
  display: inline-block;
  justify-content: space-between;
  background-color:rgba(242, 246, 245, 0.999);
  border-radius: 25px;
}
.contact-about-heading h3 {
  margin-top: 40px;
  font-size: 3.1rem;
  font-weight: 700;
  color: black;
}
.contact-back {
  width: 100px;
  height: 53px;
  border-radius: 20px;
  background-color: #758594;
  margin-top: 7px;
}
.contact-back a{
  color: black;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
}

.contact.buttons {
  width: 100%;
  height: 30%;

}
.contact-about {
  width: 100%;
  height: auto;
}
.FB, .IN{
  width: 260px;
  height: 50px;
  border-radius: 20px;
  font-size: 1.2rem;
  margin: 1px 70px;
  font-weight: 600;
}
.EM{
  width: 160px;
  height: 50px;
  border-radius: 20px;
  font-size: 1.2rem;
  margin: 1px 70px;
  font-weight: 700;
}
.EM, .FB, .IN {
  background-color:#758594 ;
  
}
.IN a {
  color: black;
}
.FB a {
  color: black;
}
.EM a {
  color: black;
}
.FB img {
  float: left;
  width: 35px;
}
.IN img {
  float: left;
  width: 35px;
}
.contact-about-text {
  text-align: left;
  margin-top: 40px;
  margin-left: 20px;
  font-size: 1.2rem;
  line-height: 1.3rem;
  letter-spacing: 0.1rem;
  color: black;
}
.contact-about-text em {
  color: #1a6f07;
}
