html body {
  max-width: 2400px;
  background-image: url(../images/Sky.jpeg);
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  align-content: center;
}
/* GRID SETUP*/
.gridbody {
  display: grid;
  columns: repeat(12, 1fr);
  grid-column-start: 1;
  grid-column-end: 12;
}
/* HEADING BAR */
.heading {
  margin-top: -10px;
  background-color:whitesmoke;
  display: flex;
  width: 100%;
  height: auto;
  height: 9.5rem;   
  position: fixed;
 }
.heading #headingname {
  margin-right: 5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 4.5rem;
  color: black;
}
.heading #headingimg{
  margin-right: 5%;
  width: 100px;
  height: auto;
}
.heading .nav {
  width: 150%;
  margin-left: 5%;
  margin-right: 0%;
  margin-top: 7%;
}
.heading .portfolio button {
  background-color:#77F295;
  width: 200px;
  height: 30px;
  margin: 1%;
  font-size: 1rem;
}
.mainbody {
  margin-top: 170px;
  background-color:rgba(15, 39, 43, 0.575);
}
.h2, .ph3{
  text-align: center;
  font-size: 1.4rem;
  font-weight: 800;
  color:rgb(62, 211, 107) ;
}
.ph2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color:rgb(62, 211, 107);
  width: 95%;
}
.p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1rem;
  line-height: 1.2rem;
  word-spacing: 1;
  font-weight: bold;
  color:whitesmoke ;
  margin-right: 4%;
}
.c{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1rem;
  line-height: 1.2rem;
  word-spacing: 1;
  font-weight: bold;
  color:whitesmoke;
  margin-left: 15%;
  width: 60%;
}
/*SWIFT BODY OF WORK*/
.swiftbody .h2, .p{
  margin-left: 10%;
  width: 80%;
  min-width: 5%;
  height: auto;
}
.S1 img {
  display: inline;
  margin-right: 3%;
  margin-top: 1%;
  margin-bottom: 2%;
  width: 20%;
}
.S2 img {
  display: inline;
  margin-right: 3%;
  margin-top: 1%;
  margin-bottom: 2%;
  width: 30%;
}
.S3 img {
  display: inline;
  margin-right: 3%;
  margin-top: 1%;
  margin-bottom: 2%;
  width: 30%;
}
/*PYTHON BODY OF WORK*/
#snaky, #weby {
 padding-top: 10%;
}
.S4 img {
  display: inline;
  margin-right: 3%;
  margin-top: 1%;
  margin-bottom: 2%;
  width: 40%;
}
/*WEB DESIGN BODY OF WORK*/
.S5 img {
  display: inline;
  margin-right: 3%;
  margin-top: 1%;
  margin-bottom: 2%;
  width: 40%;
}


/*CERTIFICATIONS BODY OF WORK*/
.certbody {
  margin-top: 1%;
  margin-left: 3%;
  width: 100%;
  min-width: 5%;
  height: auto;
}
.C1 img {
  display: inline;
  margin-right: 1%;
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 2%;
  width: 42%;
}
.C2 img {
  display: inline;
  margin-right: 1%;
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 2%;
  width: 42%;
}
.C3 img {
  margin-right: 1%;
  margin-left: 25%;
  margin-top: 1%;
  margin-bottom: 2%;
  width: 42%;
}

/*EMPLOYMENT HISTORY*/
.position {
  text-align: left;
  font-size: 1.4rem;
  font-weight: 800;
  color:rgb(62, 211, 107);
  padding-left: 2%;
}
.ph4, .aboutme {
  text-align: left;
  font-size: 2rem;
  font-weight: 800;
  color:rgb(62, 211, 107);
  padding-left: 2%;
  width: 95%;
}
.responsibilities, .summary{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1rem;
  line-height: 1.5rem;
  word-spacing: 1;
  letter-spacing: 0.07rem;
  font-weight: bold;
  color:whitesmoke ;
  margin-right: 4%;
}
.E1, .E2, .E3, .E4, .E5, .E6 {
  width: 60%;
  background-color: rgb(55, 58, 58);
  padding-top: 2%;
  padding-bottom: 3%;
}
.E7 {
  text-align: left;
  width:35%;
  background-color: rgb(55, 58, 58);
  padding-top: 2%;
  padding-bottom: 3%;
  float: right;
}
.about {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1rem;
  line-height: 1.5rem;
  word-spacing: 1;
  letter-spacing: 0.07rem;
  font-weight: bold;
  color:whitesmoke ;
  margin-right: 4%;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 3.5rem;           
}
.name {
  color:#f0edce ;
}

@media(max-width: 1620px) {
  .heading #headingname {
    font-size: 3.5rem;
  }
  .heading .portfolio button {
    width: 200px;
  }
  .mainbody {
    margin-top: 170px;
  }
}
@media(max-width: 1000px) {
  .heading {
    margin: 1%;
    height: auto;
    position: fixed;
  }
  .heading #headingname {
    text-align: center;
    font-size: 3.5rem;
  }
  .heading .portfolio {
  margin-right: -7%;
  width: 100%;
  }
  .heading .portfolio button {
    background-color:rgba(136, 227, 243, 0.863);
    font-size: 1.3rem;
    width: 200px;
    height: 50px;
  }
  .heading #headingimg{
    margin-right: 5%;
    width: 100px;
    height: 150px;
  }
  .mainbody {
    margin-top: 280px;
  }
  .S1 img {
    margin-left: 25%;
    width: 40%;
  }
  .S2 img {
    margin-left: 25%;
    width: 40%;
  }
  .S3 img {
    margin-left: 25%;
    width: 50%;
  }
}
 
@media(max-width: 650px) {
  .heading {
    display:block;
    margin: 1%;
    height: auto;
    position: fixed;
  }
  .heading #headingname {
    text-align: center;
    font-size: 3.5rem;
  }
  .heading #headingimg{
    margin-right: 5%;
    width: 100px;
    height: 150px;
  }
  .heading .portfolio {
  margin-left: -8%;
  margin-top: -2%;
  }
  .heading .portfolio button {
    background-color:rgba(136, 227, 243, 0.863);
    font-size: 1.3rem;
    width: 200px;
    height: 50px;
  }
  .mainbody {
    margin-top: 430px;
  }
  .S1 img {
    margin-left: 25%; 
    width: 40%;
  }
  .S2 img {
    width: 40%;
    margin-left: 25%;
  }
  .S3 img {
    width: 50%;
    margin-left: 25%;
  }
}
@media screen and (max-width: 480px) {
  .heading {
    display:block;
    margin: 1%;
    height: auto;
    position: fixed;
  }
  .heading #headingname {
    text-align: center;
    font-size: 3.5rem;
  }
  .heading #headingimg{
    margin-right: 5%;
    width: 100px;
    height: 150px;
  }
  .heading .portfolio {
  margin-left: -8%;
  margin-top: -2%;
  }
  .heading .portfolio button {
    background-color:rgba(136, 227, 243, 0.863);
    font-size: 1.3rem;
    width: 200px;
    height: 50px;
  }
  .mainbody {
    margin-top: 48
    0px;
  }
  .S1 img {
    margin-left: 25%;
    width: 40%;
  }
  .S2 img {
    margin-left: 25%;
    width: 40%;
  }
  .S3 img {
    margin-left: 25%;
    width: 50%;
  }
  }