html body {
  max-width: 2400px;
  background-image: url(../images/Sky.jpeg);
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  align-content: center;
}
/* GRID SETUP*/
.gridbody {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 12;
}
/* HEADING BAR */
.heading {
  background-color:rgba(23, 43, 46, 0.432);
  display: flex;
  width: 100%;
  height: 9.5rem;   
  position: fixed;
 
}
.heading #headingname {
  margin-right: 5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 4.5rem;
  color: whitesmoke;
}
.heading #headingimg{
  margin-right: 5%;
  width: 100px;
  height: auto;
}
.heading .nav {
  width: 150%;
  margin-left: 5%;
  margin-right: 0%;
  margin-top: 7%;
}
.heading .portfolio button {
  background-color:rgba(136, 227, 243, 0.863);
  width: 200px;
  height: 30px;
  margin: 1%;
  font-size: 1rem;
  
}
.mainbody {
  margin-top: 150px;
}
.h2, .ph3{
  text-align: center;
  font-size: 1.4rem;
  font-weight: 800;
  color:black ;
}
.p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1rem;
  line-height: 1.2rem;
  word-spacing: 1;
  font-weight: bold;
  color:black ;
  margin-right: 4%;
}

/*SWIFT BODY OF WORK*/
.swiftbody .h2, .p{
  margin-left: 10%;
  width: 80%;
  min-width: 5%;
  height: auto;
}
.S1 img {
  display: inline;
  margin-right: 3%;
  margin-top: 1%;
  margin-bottom: 2%;
  width: 25%;
}



/* FOOTER */
.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 3.5rem;           
}
.name {
  color:#f0edce ;
}

@media(max-width: 1620px) {
  .heading #headingname {
    font-size: 3.5rem;
  }
  .navigation .portfolio {
    margin-right: -7%;
    width: 100%;
  }
}
@media(max-width: 950px) {
  .heading {
    margin: 1%;
    height: auto;
    position: fixed;
  }
  .heading #headingname {
    font-size: 3.5rem;
  }
  .heading .portfolio {
  margin-right: -7%;
  width: 100%;
  }
  .mainbody {
    margin-top: 370px;
  }
}
 
@media(max-width: 650px) {
  .heading {
    display:block;
    margin: 1%;
    height: auto;
    position: fixed;
  }
  .heading #headingname {
    text-align: center;
    font-size: 3.5rem;
  }
  .heading .portfolio {
  margin-left: -8%;
  margin-top: -2%;
  }
  .mainbody {
    margin-top: 370px;
  }
}
@media screen and (max-width: 480px) {
  .heading {
    display:block;
    margin: 1%;
    height: auto;
    position: fixed;
  }
  .heading #headingname {
    text-align: center;
    font-size: 3.5rem;
  }
  .heading .portfolio {
  margin-left: -8%;
  margin-top: -2%;
  }
  .mainbody {
    margin-top: 370px;
  }
  }